<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="update">
    <div class="col-md-12">
        <label>Пройденный материал</label>
        <textarea class="form-control margin-bottom-20"
                  th:field="*{completedMaterial}" type="text" maxlength="100"/>

        <label>Домашнее задание</label>
        <textarea class="form-control margin-bottom-20"
                  th:field="*{homework}" type="text" maxlength="100"/>

        <label>Оценка</label>
        <input class="form-control margin-bottom-20"
               th:field="*{rating}" type="text" maxlength="100"/>

        <p>Просим Вас со всей ответственностью относиться к оформлению домашних задания, так как ученик будет
        каждый месяц получать рассылку с пройденным материалом и прогрессом.
            Рекомендуем в самом конце занятия, заполнить эту форму вместе с учеником.</p>
        <div class="row">
            <div class="col-lg-12 text-right">
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </div>

        <input type="hidden" th:field="*{relationId}"/>
        <input type="hidden" th:field="*{price}"/>

        <input type="hidden" th:field="*{duty}"/>

        <input type="hidden" th:field="*{lessonId}"/>

    </div>
</div>
</body>
</html>