.idea/
target/
*.log
*.iml
front/node_modules/
front/bower_components/
front/tmp/
front/node/
front/dist/
front/config/config.js
src/main/resources/static/*
src/main/resources/application-local.properties
src/main/resources/templates/index.ftl
cardo.log*
src/main/java/software/cushing/Application.java
/front/.gradle/
/front/build/
/front/tmp/
src/main/resources/templates/error1.html
src/test/
