<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="update">
    <div class="signup-page right-block">
        <div class="signup-header">
            <h3>Профессиональные данные</h3>
        </div>
        <div class="row">
            <label>Образование
                <span class="color-red">*</span>
                <p> Если вы имеете высшее образование, то укажите место и год в которым Вы получили высшее образование.
                    Если Вы студент укажите место обучения и курс на дыннй момент</p>
            </label>
            <input class="form-control margin-bottom-20" type="text" data-bind="value: education"
                   th:field="*{education}" th:value="*{education}"/>
        </div>
        <div class="row">
            <label>Опыт работы
                <p>Год в котором Вы впервые занялись репетиторством.
                    Если для Вас это первый опыт, то пропустить это поле</p>
            </label>
            <input class="form-control margin-bottom-20" type="text"
                   data-bind="value: firstExperience"
                   th:field="*{firstExperience}"/>
        </div>
        <div class="grafts">
            <div class="graft" th:each="r,status : *{tutorSubjects}">
                <div class="select-input required"
                     th:classappend="${#fields.hasErrors('tutorSubjects[__${status.index}__].subject')}? error-validation">
                    <label>Предметы</label>
                    <select th:id="'subject' + ${status.index}"
                            th:name="'tutorSubjects[' + ${status.index} + '].subject'" data-id-template="subjectSelect"
                            data-name-template="tutorSubjects[{x}].subject">
                        <option value=""></option>
                        <option th:each="t : ${subjects}" th:value="${t.id}" th:text="${t.name}"
                                th:selected="${t.id == r.subject?.id}"/>
                    </select>
                    <p class="error-tip" th:if="${#fields.hasErrors('tutorSubjects[__${status.index}__].subject')}"
                       th:errors="*{tutorSubjects[__${status.index}__].subject}"></p>
                </div>


                <div class="ch-input">
                    <span>Укажите предметы по которым вы будете заниматься и цену за занятия в зависимости от
                     продолжительности</span>
                    <div th:each="d,rowD : ${r.tutorSubjectDurations}">

                        <div class="col-md-6"><input class="form-control margin-bottom-20" type="text"
                                                     th:value="${d.price}"

                                                     th:id="'tutorSubjects[' + ${status.index} + '].tutorSubjectDurations[' + ${rowD.index} + '].price'"
                                                     th:name="'tutorSubjects[' + ${status.index} + '].tutorSubjectDurations[' + ${rowD.index} + '].price'"
                                                     data-id-template="retransplantationCheckbox"
                                                     th:data-name-template="'tutorSubjects[{x}].tutorSubjectDurations[' + ${rowD.index} + '].price'"/>
                        </div>
                    </div>
                </div>

                <div class="ch-input">
                    <span>Укажите предметы по которым вы будете заниматься и цену за занятия в зависимости от
                     продолжительности</span>
                    <div th:each="duration,rowD : ${durations}">
                        <div class="col-md-6"><span th:text="${duration.name} + ' ' + ${duration.duration}"></span>
                        </div>
                        <div class="col-md-6"><input class="form-control margin-bottom-20" type="text"
                                                     th:id="'tutorSubjects[' + ${status.index} + '].tutorSubjectDurations[' + ${rowD.index} + '].price'"
                                                     th:name="'tutorSubjects[' + ${status.index} + '].tutorSubjectDurations[' + ${rowD.index} + '].price'"
                                                     data-id-template="retransplantationCheckbox"
                                                     th:data-name-template="'tutorSubjects[{x}].tutorSubjectDurations[' + ${rowD.index} + '].price'"/>
                        </div>
                    </div>
                </div>
                <div class="graft-actions">
                    <button type="button" class="add button-1">+ Добавить предмет</button>
                    <button type="button" th:if="${status.index gt 0}" class="graft-delete button-2">Удалить предмет</button>
                </div>
            </div>
        </div>
        <div class="row">
            <label>Вид занятий
                <span class="color-red">*</span>
                <p>Выберите виды занятий которые Вы практикуете</p>
            </label>
            <div th:each="lessonType : ${lessonTypes}">
                <input type="checkbox" th:field="*{lessonTypes}" th:value="${lessonType.id}"/>
                <label th:text="${lessonType.name}"></label>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<label>Город-->
                <!--<span class="color-red">*</span>-->
            <!--</label>-->
            <!--<select id="genderSelect" class="form-control margin-bottom-20" th:field="*{city}">-->
                <!--<option value=""></option>-->
                <!--<option th:each="c : ${city}"  th:selected="(*{city} == ${c})"-->
                        <!--th:value="${c.id}" th:text="${c.name}">Курс</option>-->
            <!--</select>-->
        <!--</div>-->
    </div>

    <div class="templates" style="display: none;">
        <div class="graft">
            <div class="select-input required">
                <select data-id-template="subjectSelect" data-name-template="tutorSubjects[{x}].subject">
                    <option value=""></option>
                    <option th:each="t : ${subjects}" th:value="${t.id}" th:text="${t.name}"/>
                </select>
            </div>

            <div class="ch-input">
                <div class="col-md-6">
                    <span>Академический час 00:45:00</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control margin-bottom-20 ff" type="text"
                           data-id-template="retransplantationCheckbox"
                           data-name-template="tutorSubjects[{x}].tutorSubjectDurations[0].price"/>
                </div>
                <div class="col-md-6">
                    <span>Полный час 01:00:00</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control margin-bottom-20 ff" type="text"
                           data-id-template="retransplantationCheckbox"
                           data-name-template="tutorSubjects[{x}].tutorSubjectDurations[1].price"/>
                </div>
                <div class="col-md-6">
                    <span>Два академических часа 01:30:00</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control margin-bottom-20 ff" type="text"
                           data-id-template="retransplantationCheckbox"
                           data-name-template="tutorSubjects[{x}].tutorSubjectDurations[2].price"/>
                </div>
                <div class="col-md-6">
                    <span>Два полных часа 02:00:00</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control margin-bottom-20 ff" type="text"
                           data-id-template="retransplantationCheckbox"
                           data-name-template="tutorSubjects[{x}].tutorSubjectDurations[3].price"/>
                </div>
            </div>
            <input type="hidden" th:field="*{user.id}"/>
            <input type="hidden" th:field="*{user.role.id}"/>
            <input type="hidden" th:field="*{user.photo}"/>
            <div class="graft-actions">
                <button type="button" class="add button-1">+ Добавить предмет</button>
                <button type="button" class="graft-delete button-2">Удалить предмет</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>