<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
</head>
<body>
<div id="base" th:fragment="contacts">
    <div class="container bottom-border padding-vert-30">
        <div class="row">
            <div class="col-md-4">
                <h3 class="class margin-bottom-10">Юридические данные</h3>
                <p>Репетиторское агенство "Репетитор на дому" зарегистрировано 12.12.2016
                    УНП 67851212126</p>
            </div>
            <div class="col-md-4 margin-bottom-20">
                <h3 class="margin-bottom-10">Контакты</h3>
                <p>
                    <span class="fa-phone">Телефон: </span>+375-44-703-59-97
                    <br>
                    <span class="fa-envelope">Email:</span>
                    <a href="mailto:repetitornadomu@gmail.com">repetitornadomu@gmail.com</a>
                    </br>
                    <!--<span class="fa-link">Сайт:</span>-->
                    <!--<a href="http://www.example.com">www.repetitornadomu.com</a>-->
                </p>
            </div>
            <div class="col-md-4 margin-bottom-20">
                <h3 class="margin-bottom-10">Меню</h3>
                <ul class="menu">
                    <li>
                        <a class="fa-users" th:href="@{/subjects}">Репетиторы</a>
                    </li>
                    <li>
                        <a class="fa-comment" th:href="@{/notes}">Отзывы</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="background-grey" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div id="copyright" class="col-md-12">
                <p class="pull-right">(c) Alexey Skadorva
                    <script type='text/javascript'>var mdate = new Date();document.write(mdate.getFullYear());
                    </script>
                     v 1.0
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>