<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="pagination" th:if="*{searchForm.pageCount &gt; 1}">
    <ul class="pagination">
        <li>
            <a href="#" class="pageable" th:attr="data-page-num=${searchForm.pageNumber - 1}" th:if="*{searchForm.pageNumber &gt; 1}">&laquo;</a>
        </li>
        <li th:each="i : ${#numbers.sequence( 1, searchForm.pageCount == 0 ? 1 : searchForm.pageCount)}"
            th:classappend="${searchForm.pageNumber == i} ? 'active' : ''">
            <a href="#" class="pageable" th:attr="data-page-num=*{i}" th:text="*{i}"></a>
        </li>
        <li>
            <a href="#" class="pageable" th:attr="data-page-num=${searchForm.pageNumber + 1}"
               th:if="*{searchForm.pageNumber &lt; searchForm.pageCount}">&raquo;</a>
        </li>
    </ul>
</div>
</body>
</html>