<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>JavaScript Event Calendar</title>
    <meta charset="utf-8"/>
    <link th:href="@{/css/navigator_green.css}" rel="stylesheet"/>
    <link th:href="@{/css/calendar_green.css}" rel="stylesheet"/>

    <link th:href="@{/css/w/demo.css}" rel="stylesheet"/>
    <link th:href="@{/css/w/elements.css}" rel="stylesheet"/>
    <link th:href="@{/css/w/layout.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery.min.js}"/>
    <script th:src="@{/js/daypilot-all.min.js}" type="text/javascript"/>
</head>
<body>

<div id="main">
    <div id="container">
        <div id="content">
            <div>
                <div id="dp"></div>

                <script type="text/javascript">

                    var dp = new DayPilot.Calendar("dp");

                    // view
                    dp.startDate = "2013-03-25";  // or just dp.startDate = "2013-03-25";
                    dp.viewType = "Week";
                    dp.locale = "ru-ru";
                    dp.dayBeginsHour = 8
                    dp.dayEndsHour = 22;
                    // event creating
                    dp.onTimeRangeSelected = function (args) {
                        var name = prompt("New event name:", "Event");
                        if (!name) return;
                        var e = new DayPilot.Event({
                            start: args.start,
                            end: args.end,
                            id: DayPilot.guid(),
                            text: name
                        });
                        dp.events.add(e);
                        dp.clearSelection();
                    };

                    dp.onEventClick = function (args) {
                        alert("clicked: " + args.e.id());
                    };

                    dp.headerDateFormat = "dddd";
                    dp.init();

                    var e = new DayPilot.Event({
                        start: new DayPilot.Date("2013-03-25T12:00:00"),
                        end: new DayPilot.Date("2013-03-25T12:00:00").addHours(5).addMinutes(15),
                        id: "1",
                        text: "Special event"
                    });
                    dp.events.add(e);

                </script>

                <!-- bottom -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location.href;
        var filename = url.substring(url.lastIndexOf('/') + 1);
        if (filename === "") filename = "index.html";
        $(".menu a[href='" + filename + "']").addClass("selected");
    });

</script>
<!-- /bottom -->

</body>
</html>

